<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972824443974-qb213pkf3qi5b2j4ekpgvl428f0nievo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972824443974-qb213pkf3qi5b2j4ekpgvl428f0nievo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>972824443974-nhji5orp481m8hj5if1feh5hdk9sb3df.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBs2vg30ZUuIJXf99fzZoYDQrKWRAk1Y0U</string>
	<key>GCM_SENDER_ID</key>
	<string>972824443974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jadet.jaundiceImageDetector</string>
	<key>PROJECT_ID</key>
	<string>biliapp</string>
	<key>STORAGE_BUCKET</key>
	<string>biliapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972824443974:ios:d3e3502ec1554c00f59e47</string>
	<key>DATABASE_URL</key>
	<string>https://biliapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>